@import 'partials/utilities';

body {
	@include sansSerif;
}

h1 {
	font-size: 1.5em;
	font-weight: 600;
	@include tabletPlus {
		font-size: 2.5em;
	}
	.feature & {
		margin: 1em auto 0;
		max-width: 95%; 
	}
}

h2 {
	font-size: 1.25em;
	font-weight: 400;
	@include tabletPlus {
		font-size: 1.75em;
	}
	.feature & {
		margin: 1em auto 0;
		max-width: 95%;
	}
}

a {
	text-decoration: none;
	font-size: 1.25em;
	display: inline-block;
}

.btn {
	padding: 10px 15px;
	border-radius: 3px;
}

.blue {
	background: $blue;
	color: #fff;
	transition: all .3s;
	&:hover {
		background: #fff;
		color: $blue;
	}
}
.contain {
	max-width: 1280px;
	margin: 0 auto;
}
.center {
	text-align: center !important;
}

textarea {
	resize: none;
}


.feature {
	background: url('img/featureTest.jpg') no-repeat;
	background-size: cover;
	.logo {
		position: relative;
		text-align: center;
		margin-top: 100px !important;
	}
	img {
		width: 80%;
		max-width: 600px;
	}
	.btn {
		margin: 2em 0;
	}
}

.us {
	background: rgba(230, 230, 230, 1);
	padding-top: 30px;
	padding-bottom: 30px;
	.profilePic {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 3px solid $blue;
		overflow: hidden;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
	.plus {
		img {
			max-width: 100px;
		}
	}
	h2 {
		color: $blue;
		font-weight: 600;
		font-size: 2em;
		text-align: center;
		@include tabletPlus {
			text-align: left;
		}
	}
	p {
		font-size: 1.4em;
		line-height: 125%
	}
	.carey, .plus, .brian {
		margin-bottom: 30px;
	}
}

.contact {
	background: $blue;
}





