@import 'variables';
@mixin sansSerif {
	font-family: 'Futura PT', 'Helvetica', sans-serif;
}

@mixin tabletPlus {
	@media (min-width: #{$tablet-width}) {
		@content;
	}

}

@mixin desktopPlus {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}


.fadeInLeft {
// 	transition-delay: .15s;
	opacity: 0;
	transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
	transition-property: all;
}

.fadeInRight {
// 	transition-delay: 1.5s;
	opacity: 0;
	transform: translateX(200px);
	-webkit-transform: translateX(200px);
	transition-property: all;
}

@keyframes pulse {
	0% {
		opacity: .2;
	}
	100% {
		opacity: 1;
	}
}